[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
requests = "*"
python-dotenv = "*"
snowflake-connector-python = "*"
snowflake-sqlalchemy = "*"
sqlalchemy = "*"
numpy = "*"
tqdm = "*"
rich = "*"
pytest = "*"
ruff = "*"
apache-airflow = "==2.9.3"

[dev-packages]

[requires]
python_version = "3.9"
